<form class="resource-form">
    <mat-card class="card">
        <mat-card-header>
            <ng-content select="[header]"></ng-content>
        </mat-card-header>
        <mat-card-content class="content">
            <mat-grid-list cols="1" rowHeight="100px">
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <ng-content select="[contentResourceInput]"></ng-content>
                        <input type="number" matInput [(ngModel)]="resource" [ngModelOptions]="{standalone: true}">
                        <span class="errorValidate">{{validationMessage}}</span>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <ng-content select="[contentDate]"></ng-content>
                        <input matInput [matDatepicker]="picker" [min]="minDate" [(ngModel)]="dateInputResource" [ngModelOptions]="{standalone: true}">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
        <mat-card-footer class="footer">
            <button mat-raised-button class="button" (click)="clear()">Откатить</button>
            <button mat-raised-button class="button" (click)="save()">Сохранить</button>
        </mat-card-footer>
    </mat-card>
  </form>