<style>
  .main {
    .content {
      height: 500px;
    }
    .echarts {
      margin-top: 10px;
      width: 500px;
    }
    .apex {
      margin-top: 10px;
      width: 500px;
    }
  }
</style>

<main class="main">
  <div class="content">
    <mat-grid-list cols="2" rowHeight="450">
      <mat-grid-tile>
        <mat-card class="echarts">
          <mat-card-content>
            <div echarts [options]="echartOption" class="demo-chart"></div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="apex">
          <mat-card-content>
            <apx-chart
              [series]="apexOption.series!"
              [chart]="apexOption.chart!"
              [xaxis]="apexOption.xaxis!"
              [stroke]="apexOption.stroke!"
              [tooltip]="apexOption.tooltip!"
              [dataLabels]="apexOption.dataLabels!"
          ></apx-chart>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <resource-form (resourceSizeChange) = "coalChange($event)" inputLabel="Уголь (тонн)" dateLabel="Дата ввода данных (уголь)" headerTitle="Введите расход угля (тонн)"></resource-form>
      </mat-grid-tile>
      <mat-grid-tile>
        <resource-form (resourceSizeChange) = "gasChange($event)" inputLabel="Природный газ (тыс. м3)" dateLabel="Дата ввода данных (газ)" headerTitle="Введите расход газа (тыс. м3)"></resource-form>
      </mat-grid-tile>
    </mat-grid-list>
    

  </div>
</main>
<router-outlet />
